.test-socio-page {
  background-color: #F8EAF5;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  .question-block {
    width: 75%;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .text {
      margin-bottom: 15px;
      text-align: center;
      font-size: 15px;
    }
    .answer-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      .no {
        border:none;
        background-color: #FEEDE8;
        width: 70px;
        height: 30px;
        border-radius: 50px;
        font-size: 15px;
      }
      .no-checked {
        border:none;
        background-color: #FDE1D8;
        width: 70px;
        height: 30px;
        border-radius: 50px;
        font-size: 15px;
      }
      .yes {
        border:none;
        background-color: #F5E3F1;
        width: 70px;
        height: 30px;
        border-radius: 50px;
        font-size: 15px;
      }
      .yes-checked {
        border:none;
        background-color: #EBC7E3;
        width: 70px;
        height: 30px;
        border-radius: 50px;
        font-size: 15px;
      }
    }
  }
  .button-result {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 150px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, #CD74BA, #ECB6A5);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-size: 15px;
    color: #CC73BA;
  }
}