@import '../../commonStyles.scss';

.header {
    @include background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
}
