@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

$linear-gradient: linear-gradient(90.32deg, #ce75bc 29.28%, #e79ea8 81.44%);
$pink: #CC73BA;
$peach: #ECB6A5;

@mixin background {
    background: linear-gradient(90.32deg, #CC73BA 29.28%, #FAC2B0 81.44%);
}

.header-item {
    color: white;
    font-size: 20px;
}

