@import '../../commonStyles.scss';
%message-wrapped {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dialogs-container{
    .dialog-item{
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid lightgrey;
    }
    .dialog-image{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        margin-right: 15px;
    }
    .dialog-text-info{
        color: black;
        overflow: hidden;
        .dialog-name{
            font-weight: 600;
            margin-bottom: 10px;
        }
        .dialog-message{
            @extend %message-wrapped;
        }
    }
    .dialog-time{
       text-align: right;
       flex-grow: 1;
       color: rgb(153, 153, 153);
       font-size: 14px;
       white-space: nowrap;
    }
    .margin_top{
        margin-top: 5vh;
    }
}
.mes-history{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
    padding: 10px 15px;
    box-sizing: border-box;
    .mes{
        padding: 5px 15px;
        width: fit-content;
        border-radius: 15px;
        margin: 5px 0px;
    }          
    .outgoing{
        background: #CC73BA33;
        align-self: flex-end;
    }
    .incoming{
        background: #FAC2B04D;
    }                                                                                                          
}
.mes-form{
    @include background;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
    justify-content: space-between;
    .fa-smile{
        color: white;
        font-size: 30px;
        margin-right: 10px;
    }
    .fa-play{
        color: white;
        font-size: 30px;
        margin-left: 10px;
    }
    button{
        background: transparent;
        border: none;
    }
    .mes-input{
        height: 40px;
        background: transparent;
        border: 0;
        font-size: 16px;
        flex-grow: 1;
        color: white;
    }
    .mes-input::placeholder{
        color: white;
        opacity: 0.6;
    }
}
.choice-container{
    text-align: center;
    color: grey;
}